/* Cross Browser Compatability CSS */
/**
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }
/* write your CSS here */
h1{font-family: 'Bitter', serif;
}


#modal-popul{font-family: 'Droid Serif', serif;
}

#twitter{font-family: 'League Script', cursive;
}

p {font-variant: small-caps; font:georgia;
 }
    h1 {color: silver;
    }

#one{width: 150px;
    height: 75px;
    padding: 5px;
    margin: 5px;
    border: 2px solid black;
    background:blue;
    color:white;
       float:left;
}
#two{width: 150px;
    height: 75px;
    padding: 5px;
    margin: 5px;
    border: 2px solid black;
    background:blue;
       color:white;
    float:left;
}
#three{width: 150px;
    height: 75px;
    padding: 5px;
    margin: 5px;
    border: 2px solid black;
    background:blue;
       color:white;
    float:left;

}

    .clear-fix{
        clear:both;
        width:100%;
    }

    #modal-popup {width: 450px;
        height: 150px;
       width:400px;
        top: 200px;
        right:2px;
        z-index:100;
        position:fixed;
        background: url('http://earthobservatory.nasa.gov/images/imagerecords/6000/6243/bering_tmo_2006020_lrg.jpg') no-repeat;

       font-weight: 900
        text-transform: lowercase;
        margin-left;30px;
    font-variant: small-caps; font:georgia;
    }
h3 {font-variant: small-caps; font:georgia;
}
ol{font-variant: small-caps; font:georgia;
}
ul {font-variant: small-caps; font:georgia;
}

#portion {font-style: italic;

}
#twitter {width: 450px;
        height: 90px;
        padding: 10px;
        margin: 10px;
    font-variant: small-caps; font:georgia;
    color: #000000;
    border: 1px solid;
        background: url('http://7-themes.com/data_images/out/8/6795534-galaxy-wallpaper-tumblr.jpg')
}
